body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* background-color: rgb(65, 65, 65) !important; */
  scroll-behavior:smooth;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* لون الخلفية لشريط التمرير */
::-webkit-scrollbar {
  background-color: #f1f1f1;
  /* color: rgb(255 0 231) !important; */
  /* لون خلفية الشريط */
}

/* لون علامة التمرير */
::-webkit-scrollbar-thumb {
  background-color: rgba(230, 70, 182, 0.532);
  border-radius: 10px;
  /* لون علامة التمرير */
}